.DS_Store
.build
/.swiftpm
/.vscode
xcschememanagement.plist
UserInterfaceState.xcuserstate
buildServer.json
.compile
Show Day.xcodeproj/xcuserdata/jordan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
